# Tarefa 01

- Leia os enunciados com atenção
- Saiba que pode haver mais de uma resposta correta
- Insira novas células de código sempre que achar necessário
- Em caso de dúvidas, procure os tutores
- Divirta-se :)

#### 1)  crie uma série do pandas a partir de uma lista com os dados abaixo:

Em um estudo sobre alteração na tempreatura global, A NASA disponibiliza dados de diferenças de de temperatura média da superfície terrestre relativos às médias de temperatura entre 1951 e 1980. Os dados originais podem ser vistos no site da NASA/GISS, e estão dispostos a cada década na tabela abaixo.

|ano|anomalia termica|
|:-:|:----:|
| 1900 | -0.08 |
| 1920 | -0.27 |
| 1940 | 0.12 |
| 1960 | -0.03 |
| 1980 | 0.26 |
| 2000 | 0.40 |
| 2020 | 1.02 |

Crie uma séries do Pandas a partir de uma lista com esses dados.

In [4]:
import pandas as pd
import numpy as np

# Seu código aqui

dados = [-0.08,-0.27,0.12,-0.03,0.26,0.40,1.02]
anomalia_termica = pd.Series(dados)
anomalia_termica

0   -0.08
1   -0.27
2    0.12
3   -0.03
4    0.26
5    0.40
6    1.02
dtype: float64

#### 2) Coloque os anos nos índices conforme a tabela.

In [6]:

# seu código aqui

anomalia_termica = pd.Series([-0.08,-0.27,0.12,-0.03,0.26,0.40,1.02],
                                 index=['1900', '1920', '1940', '1960', '1980', '2000', '2020'])

anomalia_termica

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 3) A partir do dicionário abaixo, crie uma séries do Pandas:

In [9]:
dic_temperaturas = {1900: -.08, 1920: -.27, 1940: .12, 1960: -.03, 1980: .26, 2000: .40, 2020: 1.02}

# seu código aqui

TempDict = {'1900': -0.8,
                   '1920': -0.27,
                   '1940': 0.12,
                   '1960': -0.03,
                   '1980': 0.26,
                   '2000': 0.40,
                   '2020': 1.02}
anomalia_termica = pd.Series(TempDict)
anomalia_termica

1900   -0.80
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 4) Transforme o ndarray abaixo em um dataframe. 
O numpy é capaz de gerar arrays n-dimensionais com números pseudo-aleatórios de acordo com uma variedade de distribuições, como no exemplo abaixo. Transforme esse nd-array em um DataFrame.

In [12]:
arr = np.random.normal(100, 10, (20,3))

# seu código aqui

# Criando um DataFrame a partir do array
df = pd.DataFrame(arr, columns=['1', '2', '3'])

# Exibindo o DataFrame
print(df)

             1           2           3
0    92.779639   98.108441   86.221592
1   111.928486   97.450964   98.560516
2    97.886973   92.631857   94.498989
3   122.652177   86.804435   72.818217
4    89.475866   99.812708   85.800458
5   110.848753   96.485762  101.656331
6    98.768105   99.384299  107.727665
7   111.139886  108.589863  101.646340
8   108.325007   91.294084   97.053083
9   100.428044   79.986635  114.745491
10   85.283231   90.413173   93.259001
11  102.134031   89.991260   96.402660
12   93.515898  124.099170   90.024296
13  118.285395   92.739006   95.827704
14  102.204665  106.994576   98.938416
15  106.685024   88.126545  100.790418
16   93.209301   86.992128   93.210606
17  106.269522  110.595193  102.409918
18  108.274868   94.334029   99.105331
19   91.146803   94.300513   81.833547

#### 5) Nomeie os índices das linhas com inteiros de 1 a 20, e as colunas com os nomes "x1", "x2", e "x3" respectivamente.

In [13]:
#seu código aqui

# Renomeando as colunas
df = df.rename(columns={'1': 'x1', '2': 'x2', '3': 'x3'})

# Definindo o índice de 1 a 20
df.index = range(1, 21)

# Exibindo o DataFrame final
print(df)

            x1          x2          x3
1    92.779639   98.108441   86.221592
2   111.928486   97.450964   98.560516
3    97.886973   92.631857   94.498989
4   122.652177   86.804435   72.818217
5    89.475866   99.812708   85.800458
6   110.848753   96.485762  101.656331
7    98.768105   99.384299  107.727665
8   111.139886  108.589863  101.646340
9   108.325007   91.294084   97.053083
10  100.428044   79.986635  114.745491
11   85.283231   90.413173   93.259001
12  102.134031   89.991260   96.402660
13   93.515898  124.099170   90.024296
14  118.285395   92.739006   95.827704
15  102.204665  106.994576   98.938416
16  106.685024   88.126545  100.790418
17   93.209301   86.992128   93.210606
18  106.269522  110.595193  102.409918
19  108.274868   94.334029   99.105331
20   91.146803   94.300513   81.833547

#### 6) No DataFrame do exercício 5, crie uma nova coluna como sendo a média das três colunas, e dê a ela o nome de "media" (não recomendo colocar acentos em nomes de variáveis).

In [14]:
# seu código aqui

df['media'] = df[['x1', 'x2', 'x3']].mean(axis=1)

print(df)

            x1          x2          x3       media
1    92.779639   98.108441   86.221592   92.369891
2   111.928486   97.450964   98.560516  102.646655
3    97.886973   92.631857   94.498989   95.005940
4   122.652177   86.804435   72.818217   94.091609
5    89.475866   99.812708   85.800458   91.696344
6   110.848753   96.485762  101.656331  102.996949
7    98.768105   99.384299  107.727665  101.960023
8   111.139886  108.589863  101.646340  107.125363
9   108.325007   91.294084   97.053083   98.890724
10  100.428044   79.986635  114.745491   98.386724
11   85.283231   90.413173   93.259001   89.651802
12  102.134031   89.991260   96.402660   96.175984
13   93.515898  124.099170   90.024296  102.546455
14  118.285395   92.739006   95.827704  102.284035
15  102.204665  106.994576   98.938416  102.712553
16  106.685024   88.126545  100.790418   98.533996
17   93.209301   86.992128   93.210606   91.137345
18  106.269522  110.595193  102.409918  106.424878
19  108.274868   94.334029   99.105331  100.571409
20   91.146803   94.300513   81.833547   89.093621

#### 7) No DataFrame do exercício 6, crie uma nova coluna chamada "log_med", contendo o logaritmo natural da média calculada no exercício 6 <br>

In [15]:
# seu código aqui

df['log_med'] = np.log(df['media'])

# Exibindo o DataFrame final
print(df)

            x1          x2          x3       media   log_med
1    92.779639   98.108441   86.221592   92.369891  4.525801
2   111.928486   97.450964   98.560516  102.646655  4.631293
3    97.886973   92.631857   94.498989   95.005940  4.553939
4   122.652177   86.804435   72.818217   94.091609  4.544269
5    89.475866   99.812708   85.800458   91.696344  4.518483
6   110.848753   96.485762  101.656331  102.996949  4.634699
7    98.768105   99.384299  107.727665  101.960023  4.624581
8   111.139886  108.589863  101.646340  107.125363  4.674000
9   108.325007   91.294084   97.053083   98.890724  4.594015
10  100.428044   79.986635  114.745491   98.386724  4.588906
11   85.283231   90.413173   93.259001   89.651802  4.495933
12  102.134031   89.991260   96.402660   96.175984  4.566180
13   93.515898  124.099170   90.024296  102.546455  4.630316
14  118.285395   92.739006   95.827704  102.284035  4.627754
15  102.204665  106.994576   98.938416  102.712553  4.631934
16  106.685024   88.126545  100.790418   98.533996  4.590402
17   93.209301   86.992128   93.210606   91.137345  4.512368
18  106.269522  110.595193  102.409918  106.424878  4.667439
19  108.274868   94.334029   99.105331  100.571409  4.610868
20   91.146803   94.300513   81.833547   89.093621  4.489688