## Exercício 1: Vestibular

Considere que a os dados gerados na célula abaixo contêm o número de acertos de 100 alunos em um vestibular para um curso de exatas, divididas pelos respectivos assuntos. Considere que cada assunto possui um número de questões conforme a tabela abaixo:

| assunto | número de questões |
|:---:|:---:|
| Matemática | 24 |
| Português | 18 |
| Geografia | 8 |
| Inglês | 8 |
| História | 8 |
| Física | 12 |
| Química | 12 |

Usando os comandos de operações com DataFrames que você aprendeu na Aula 03, calcule:

1. (operações com escalar) Calcule o percentual de acerto dos alunos por assunto.  
2. (operações entre *DataFrames) Calcule o total de acertos de cada aluno.  
3. Calcule o porcentual geral de cada aluno.  
4. Suponha que a nota de corte para a segunda fase seja 45. Quantos alunos tiveram nota maior que 45?

In [113]:
import pandas as pd
import numpy as np

np.random.seed(42)
df_mat = pd.DataFrame(np.random.randint(24, size=(100, 1)), columns=['Qt_acertos'])

df_por = pd.DataFrame(np.random.randint(18, size=(100, 1)), columns=['Qt_acertos'])

df_geo = pd.DataFrame(np.random.randint(8, size=(100, 1)), columns=['Qt_acertos'])

df_ing = pd.DataFrame(np.random.randint(8, size=(100, 1)), columns=['Qt_acertos'])

df_his = pd.DataFrame(np.random.randint(8, size=(100, 1)), columns=['Qt_acertos'])

df_fis = pd.DataFrame(np.random.randint(12, size=(100, 1)), columns=['Qt_acertos'])

df_qui = pd.DataFrame(np.random.randint(12, size=(100, 1)), columns=['Qt_acertos'])

In [114]:
# 1) Seu código aqui

pc_mat = df_mat / 24
pc_por = df_por / 18
pc_geo = df_geo /  8
pc_ing = df_ing /  8
pc_his = df_his /  8
pc_fis = df_fis /  8
pc_qui = df_qui /  8

In [115]:
# 2) Seu código aqui
total = df_mat + df_por + df_geo + df_ing + df_his + df_fis + df_qui
total

    Qt_acertos
0           35
1           48
2           50
3           32
4           30
..         ...
95          34
96          27
97          40
98          40
99          42

[100 rows x 1 columns]

In [116]:
# 3) Seu código aqui
total/90

    Qt_acertos
0     0.388889
1     0.533333
2     0.555556
3     0.355556
4     0.333333
..         ...
95    0.377778
96    0.300000
97    0.444444
98    0.444444
99    0.466667

[100 rows x 1 columns]

In [117]:
# 4) Seu código aqui
total_gt_45 = total[total['Qt_acertos'] > 45]
total_gt_45.count()

Qt_acertos    31
dtype: int64

## 2) Vestibular II

Ainda sobre o mesmo banco de dados:

1. Neste vestibular, quem 'zera' em matemática, física ou química está desqualificado. Monte um novo *DataFrame* com os alunos desqualificados por este critério.
2. Quantos são esses alunos?
3. Qual a média desses alunos em história e geografia?
4. Monte um *DataFrame* com os alunos que passaram para a segunda fase. Repare que estes alunos não podem ter sido desqualificados.

In [118]:
# seu código aqui
df_eliminados = total[(df_mat['Qt_acertos'] == 0) | 
                      (df_fis['Qt_acertos'] == 0) | 
                      (df_qui['Qt_acertos'] == 0)]

df_eliminados

    Qt_acertos
3           32
6           29
10          31
12          42
14          31
20          53
25          27
26          40
27          50
33          39
35          48
49          19
56          39
65          24
66          31
72          50
73          37
74          39
84          26
89          63
92          40
94          25
98          40

In [119]:
#quantidade de alunos eliminados

df_eliminados.count()

Qt_acertos    23
dtype: int64

In [120]:
df_aprovados = total[(df_mat['Qt_acertos'] > 0) &
                      (df_fis['Qt_acertos'] > 0) & 
                      (df_qui['Qt_acertos'] > 0)]

df_aprovados

    Qt_acertos
0           35
1           48
2           50
4           30
5           50
..         ...
93          56
95          34
96          27
97          40
99          42

[77 rows x 1 columns]

## 3) Vacinações no Acre
Vamos trabalhar agora com a base de vacinações no Acre. Para facilitar a sua vida, copiamos o link do arquivo na célula abaixo.

1. Quantas vacinas estão registradas nessa base?  
2. Quantos pacientes foram vacinados? (considere um paciente para cada valor único de ```paciente_id```)  
3. Quantos pacientes únicos tomaram a primeira dose? OBS: Há um caractere especial neste campo. Receba os valores do campo com o método ```.unique()```.   
4. Quantos pacientes com menos de 18 anos foram vacinados?  
5. Quantos estabelecimentos aplicaram vacina no Acre?


**OBS:** O portal do DATASUS pode apresentar instabilidades, retornando um erro na segunda célula abaixo. Por este motivo está disponível uma base estática, que se for baixada para o seu *working directory* pode ser lida com este comando: ```df = pd.read_csv('registros de vacinacao covid ACRE.csv', sep=';')```.

**OBS2:** Para saber qual é o seu working directory, rode no jupyter: ```!pwd```.

In [121]:
arquivo = 'dados_covid_acre.xlsx'

In [122]:
# 1) Sua solução aqui
df = pd.read_csv('https://s3.sa-east-1.amazonaws.com/ckan.saude.gov.br/SIPNI/COVID/uf/uf%3DAC/part-00000-f48761ac-0a62-4fc5-b546-10b6cc58d86a.c000.csv'
                 , sep=';')

In [123]:
df.head()

,document_id,paciente_id,paciente_idade,paciente_dataNascimento,paciente_enumSexoBiologico,paciente_racaCor_codigo,paciente_racaCor_valor,paciente_endereco_coIbgeMunicipio,paciente_endereco_coPais,paciente_endereco_nmMunicipio,...,vacina_categoria_codigo,vacina_categoria_nome,vacina_lote,vacina_fabricante_nome,vacina_fabricante_referencia,vacina_dataAplicacao,vacina_descricao_dose,vacina_codigo,vacina_nome,sistema_origem
0,9e91a622-c45f-49a7-be39-eeaa1a41cfbb-i0b0,36440d75974de6c81651c6ba77e9f06d9b47bc67530ab0...,27,1994-02-14,M,3,PARDA,120050.0,10.0,SENA MADUREIRA,...,2.0,Faixa Etária,FF8848,PFIZER,Organization/00394544000851,2021-11-08,2ª Dose,87,COVID-19 PFIZER - COMIRNATY,Novo PNI
1,39fb00c2-cab8-418e-a852-f2f264434904-i0b0,cf9ebad928d83a0bc46f99e8d69ebfb06a8829d79b246a...,23,1999-08-11,M,1,BRANCA,110020.0,10.0,PORTO VELHO,...,2.0,Faixa Etária,FT5177,PFIZER,28290,2023-01-04,Revacinação,87,COVID-19 PFIZER - COMIRNATY,Novo PNI
2,ea214495-406c-4df7-9bf0-8b0e1dc521a3-i0b0,99f7b076661c37a42a76aa2415b285a3c2724a6a8cf0b1...,18,2003-07-17,M,5,INDIGENA,120033.0,10.0,MANCIO LIMA,...,7.0,Povos Indígenas,202010040,SINOVAC/BUTANTAN,Organization/61189445000156,2021-08-18,1ª Dose,86,COVID-19 SINOVAC/BUTANTAN - CORONAVAC,Novo PNI
3,3a00a00e-a6d0-4e8a-ba4d-d4762f1297a2-i0b0,5e23138c04bbfb610dec9cbfc6650a66a7cda75f10294e...,58,1962-11-25,M,3,PARDA,120070.0,10.0,XAPURI,...,2.0,Faixa Etária,210277,SINOVAC/BUTANTAN,Organization/152,2021-10-13,1ª Dose,86,COVID-19 SINOVAC/BUTANTAN - CORONAVAC,Novo PNI
4,f993471f-f440-45a7-83ee-c3d9e7914bc8-i0b0,c0d1825106330674fd46974e23f564257dc049f1d0fa9a...,18,2004-07-15,F,99,SEM INFORMACAO,120040.0,10.0,RIO BRANCO,...,2.0,Faixa Etária,21PVCD368Z,ASTRAZENECA/FIOCRUZ,149,2022-07-18,Reforço,85,COVID-19 ASTRAZENECA/FIOCRUZ - COVISHIELD,Novo PNI

In [124]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 362677 entries, 0 to 362676
Data columns (total 32 columns):
 #   Column                                    Non-Null Count   Dtype
---  ------                                    --------------   -----
 0   document_id                               362677 non-null  object
 1   paciente_id                               362677 non-null  object
 2   paciente_idade                            362677 non-null  int64
 3   paciente_dataNascimento                   362677 non-null  object
 4   paciente_enumSexoBiologico                362677 non-null  object
 5   paciente_racaCor_codigo                   362677 non-null  int64
 6   paciente_racaCor_valor                    362677 non-null  object
 7   paciente_endereco_coIbgeMunicipio         360440 non-null  float64
 8   paciente_endereco_coPais                  360446 non-null  float64
 9   paciente_endereco_nmMunicipio             360445 non-null  object
 10  paciente_endereco_nmPais                  360446 non-null  object
 11  paciente_endereco_uf                      360440 non-null  object
 12  paciente_endereco_cep                     309577 non-null  float64
 13  paciente_nacionalidade_enumNacionalidade  362501 non-null  object
 14  estabelecimento_valor                     362677 non-null  int64
 15  estabelecimento_razaoSocial               362677 non-null  object
 16  estalecimento_noFantasia                  362677 non-null  object
 17  estabelecimento_municipio_codigo          362677 non-null  int64
 18  estabelecimento_municipio_nome            362677 non-null  object
 19  estabelecimento_uf                        362677 non-null  object
 20  vacina_grupoAtendimento_codigo            362664 non-null  float64
 21  vacina_grupoAtendimento_nome              361698 non-null  object
 22  vacina_categoria_codigo                   342286 non-null  float64
 23  vacina_categoria_nome                     342286 non-null  object
 24  vacina_lote                               362677 non-null  object
 25  vacina_fabricante_nome                    362677 non-null  object
 26  vacina_fabricante_referencia              360501 non-null  object
 27  vacina_dataAplicacao                      362677 non-null  object
 28  vacina_descricao_dose                     362677 non-null  object
 29  vacina_codigo                             362677 non-null  int64
 30  vacina_nome                               362668 non-null  object
 31  sistema_origem                            362278 non-null  object
dtypes: float64(5), int64(5), object(22)
memory usage: 88.5+ MB

In [125]:
df.shape[0]

362677

In [126]:
# 2) 
df['paciente_id'].nunique()

300403

In [127]:
# 3) 
primeira_dose = df['vacina_descricao_dose'].unique()[0]
df['paciente_id'].loc[df['vacina_descricao_dose'] == primeira_dose].nunique()

118397

In [128]:
# 3) solução alternativa
primeira_dose = df['vacina_descricao_dose'].unique()[0]
df_primeira_dose = df[df['vacina_descricao_dose'] == primeira_dose]
df_primeira_dose['paciente_id'].nunique()

118397

In [129]:
# 4) 
df_menor = df[df["paciente_idade"]<18]
df_menor['paciente_id'].nunique()

58442

In [130]:
# 5)
df['estabelecimento_razaoSocial'].nunique()

54

## 4) Vacinação II
Gere um *DataFrame* que contenha somente os estabelecimentos que aplicaram vcinas a menores de 18 anos. Nesse *DataFrame* devem conter somente os dados dos estabelecimentos, mais uma coluna sendo a quantidade de vacinas que o estabelecimento aplicou a menores de 18 anos.  
  
1. crie uma cópia do *DataFrame* original, contendo somente os registros de vacinas realizadas a menores de 18 anos.  
2. crie uma lista das colunas desse *DataFrame* com o atributo de *DataFrame* **.columns()**  
3. Nesse *DataFrame* faça uma contagem do campo ```vacina_categoria_nome```.
3. a partir da lista de colunas, escolha somente aquelas que são referentes ao estabelecimento, faça uma lista com esses valores.  
4. usando o método *.loc*, selecione somente essas variáveis  
5. Aplique o método **.drop_duplicates** e crie uma lista com uma linha para cada estabelecimento, com os dados do estabelecimento

In [131]:
# 1) 
df_menor = df[df["paciente_idade"]<18].copy()

In [132]:
# 2) 
df_menor.columns

Index(['document_id', 'paciente_id', 'paciente_idade',
       'paciente_dataNascimento', 'paciente_enumSexoBiologico',
       'paciente_racaCor_codigo', 'paciente_racaCor_valor',
       'paciente_endereco_coIbgeMunicipio', 'paciente_endereco_coPais',
       'paciente_endereco_nmMunicipio', 'paciente_endereco_nmPais',
       'paciente_endereco_uf', 'paciente_endereco_cep',
       'paciente_nacionalidade_enumNacionalidade', 'estabelecimento_valor',
       'estabelecimento_razaoSocial', 'estalecimento_noFantasia',
       'estabelecimento_municipio_codigo', 'estabelecimento_municipio_nome',
       'estabelecimento_uf', 'vacina_grupoAtendimento_codigo',
       'vacina_grupoAtendimento_nome', 'vacina_categoria_codigo',
       'vacina_categoria_nome', 'vacina_lote', 'vacina_fabricante_nome',
       'vacina_fabricante_referencia', 'vacina_dataAplicacao',
       'vacina_descricao_dose', 'vacina_codigo', 'vacina_nome',
       'sistema_origem'],
      dtype='object')

In [133]:
# 3)
df_menor['vacina_categoria_nome'].value_counts()

vacina_categoria_nome
Faixa Etária                                      37367
Outros                                             3701
Povos Indígenas                                    3059
Povos e Comunidades Tradicionais                    679
Trabalhadores de Saúde                              238
População Privada de Liberdade                       50
Comorbidades                                         41
Gestantes                                            26
Pessoas com Deficiência                               5
Pessoas Institucionalizadas                           3
Pessoas de 60 anos ou mais institucionalizadas        1
Trabalhadores da Educação                             1
Name: count, dtype: int64

In [134]:
# 4)
lista_variaveis = ['estabelecimento_valor',
       'estabelecimento_razaoSocial', 'estalecimento_noFantasia',
       'estabelecimento_municipio_codigo', 'estabelecimento_municipio_nome',
       'estabelecimento_uf']
df_menor_lista = df_menor.loc[:,lista_variaveis]

In [135]:
# 5)
df_menor_lista = df_menor_lista.drop_duplicates()
df_menor_lista.shape

(157, 6)

In [136]:
df_menor_lista

,estabelecimento_valor,estabelecimento_razaoSocial,estalecimento_noFantasia,estabelecimento_municipio_codigo,estabelecimento_municipio_nome,estabelecimento_uf
6,6159087,PREFEITURA MUNICIPAL DE CRUZEIRO DO SUL,SECRETARIA MUNICIPAL DE SAUDE DE CRUZEIRO DO SUL,120020,CRUZEIRO DO SUL,AC
9,6917291,PREFEITURA MUNICIPAL DE RIO BRANCO,DEPARTAMENTO DE VIGILANCIA EPIDEMIOLOGICA E AM...,120040,RIO BRANCO,AC
22,2000016,PREFEITURA MUNICIPAL DE RODRIGUES ALVES,UNIDADE BASICA PADRE TEODORO ARNDS,120042,RODRIGUES ALVES,AC
25,3810771,PREFEITURA MUNICIPAL DE TARAUACA,UNIDADE DE S DA FAMILIA DR JOSE LEONCIO GOMES ...,120060,TARAUACA,AC
44,924490,PREFEITURA MUNICIPAL DE FEIJO,UNIDADE MOVEL DE SAUDE FLUVIAL PEDRO RODRIGUES...,120030,FEIJO,AC
...,...,...,...,...,...,...
267185,2000520,PREFEITURA MUNICIPAL DE RIO BRANCO,URAP FRANCISCO BACURAU VIEIRA NUNES,120040,RIO BRANCO,AC
276410,3331784,MUNICIPIO DE RIO BRANCO,USF MARIA VERONICA II,120040,RIO BRANCO,AC
328270,3752259,PREFEITURA MUNICIPAL DE RIO BRANCO,USF NIMEO INSFRAN MARTINEZ,120040,RIO BRANCO,AC
329461,2003155,PREFEITURA MUNICIPAL DE RIO BRANCO,USF MAXIMO DIOGO II,120040,RIO BRANCO,AC
331060,2001012,SECRETARIA DE ESTADO DE SAUDE DO ACRE,USF MOCINHA MAGALHAES,120040,RIO BRANCO,AC